.middle-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.middle-card{
    background-color: rgb(0, 82, 82);
    color: white;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
}
.middle-card:hover{
    background-color: rgb(0, 212, 212);
    color: black;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
}