.middle-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.middle-button{
    width: 300px;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 30px;
    border-radius: 10px;
}
.english{
    background-color: darkslategray;
}
.japanese{
    background-color: darkslateblue;
}
.french{
    background-color: tomato;
}
.german{
    background-color: darkgreen;
}